{{ block "dashboard" . }}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IRB Tracker</title>
    <script src="js/htmx.min.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "primary-red": "#FF0307",
              "primary-text": "#000908",
              "primary-bg": "#FBFFFE",
              "primary-blue": "#91A6FF",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-primary-bg text-primary-text">
    {{ template "dashboard_content" . }}
  </body>
</html>
{{ end }}
